/*-------------- GLOBAL ---------------*/
/*CUSTOM TYPEKIT FONTS*/
.navContainer,
.scForm button,
.footerContent .contentTitle {
font-family: futura-pt, sans-serif;
font-style: normal;
font-weight: 600;
}
/*MEDIUM*/
.blockInnerContent b, .itemInnerContent b, .blockInnerContent strong, .itemInnerContent strong {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .15em;
}
.item .itemInnerContent b, .item .itemInnerContent strong {
    font-weight: 600;
}

.pageTitle {
    font-family: anisette-std, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.contentTitle, .contentTitle a,
.block_d104b30ce7924523bea5129047c3866f .contentTitle,
.block_c63688def03241b09e0c59cd824ee43b .contentTitle,
.block_d135f2a5094f49289b648723e946edb0 .contentTitle,
.items_d503d240d65b4d3a8c0df587648b2ec9 .item .contentTitle,
.items_d503d240d65b4d3a8c0df587648b2ec9 .item .contentTitle a {
    font-family: anisette-std, sans-serif;
    font-style: normal;
    font-weight: 500;
}
.scForm .progressWrap {
    padding-right: 0px;
}
/*-------------- FOOTER ---------------*/
/*footer logo img*/ 
.footerImg img {
    max-width: 95px;
}
.footerContent .contentTitle {
    letter-spacing: .15em;
}
.block_dd72b3fe1132486f9dde9ffae1c633c3 .contentTitle {
    padding-bottom: 1em;
}
.scForm button {
    padding: .6em 3em;
}
.scForm input[type=text], .scForm input[type=number], .scForm input[type=email], .scForm input[type=url], .scForm input[type=tel], .scForm input[type=search] {
    padding: .6em .5em;
}
.footerContent .socialIconsContainer {
    width: 100%;
    margin-top: .5em;
}
.blockWrap_ce4c419ad3b04a88a7314cd2c0cf1a43 {
    padding-top: 1em !important;
    width: 100% !important;
}
@media only screen and (max-width: 1231px) {
    .scForm input[type=text],
    .footerContent .emailCapture button {
        width: 100%;
    }
}
/*-------------- HOME ---------------*/
.block_d104b30ce7924523bea5129047c3866f .blockText .contentTitle {
    margin-top: 25px;
}
/*-------------- MENUS ---------------*/
/*target first item with menu links*/ 
.menusSectionPage .item:first-child .contentTitle,
.menusSectionPage .item:first-child .contentTitle a,
.menusSectionPage .item:first-child .itemInnerContent strong {
    color: #f06b5d;
    text-align: center;
}
.menusSectionPage .item:first-child .itemInnerContent {
     text-align: center;
}
.menusSectionPage .item:first-child .itemContent {
    border: 3px solid #f06b5d;
    border-radius: 50%;
    padding: 50px;
    max-width: 360px;
    margin: auto;
    box-sizing: border-box;
}
/*-------------- RESERVATIONS ---------------*/
/*open table widget*/ 
body .ot-dtp-picker body .ot-dtp-picker-button {
    box-shadow: 0 0 0 1px #F06B5D !important;
}
.ot-button {
    background-color: #F06B5D !important;
}
.picker--focused .picker__day--highlighted, .picker__day--highlighted:hover {
    background-color: #F06B5D !important;
}
.picker__nav--next, .picker__nav--prev,
.picker__close {
    color: #F06B5D !important;
}
.ot-dtp-picker {
    width: 150px;
}
.resColumnOne .contentTitle {
    font-size: 32px;
}
.block_daa89e3b8c694a90af7848a206edf0cc .blockInnerContent ul,
.block_f3a11057896645c394891a21f33954e1 .blockInnerContent ul {
    list-style-type: none;
    padding-left: 0;
}
/*-------------- CONTACT ---------------*/
/*mapbox map*/ 
.block_ab829bce648d4b838f7890fcc3aaf0e9 {
    position: relative;
    height: 500px;
}
#map {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
}
/*-------------- MEDIA QUERIES ---------------*/
@media only screen and (max-width: 767px) { 
/*lists 100% for mobile*/ 
    .listView .itemPreview.hasImg .itemImg {
        width: 100%;
    }
    .listView .itemPreview.hasImg .itemContent {
        width: 100%;
        padding-top: 1.5em;
    }
/*RESERVATIONS*/ 
    .resColumnTwo {
        margin-top: 1.5em;
    }
    #ot-reservation-widget {
        max-width: 281px;
        margin: auto;
    }
}
@media only screen and (min-width: 768px) {
/*gradient 50/50 background*/
    /*.menusSectionPage {*/
    /*    background: #f5e2dc;*/
    /*    background: -moz-linear-gradient(left, #f5e2dc 0%, #f5e2dc 50%, #d4e9ed 50%, #d4e9ed 100%); */
    /*    background: -webkit-linear-gradient(left, #f5e2dc 0%,#f5e2dc 50%,#d4e9ed 50%,#d4e9ed 100%); */
    /*    background: linear-gradient(to right, #f5e2dc 0%,#f5e2dc 50%,#d4e9ed 50%,#d4e9ed 100%); */
    /*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5e2dc', endColorstr='#d4e9ed',GradientType=1 ); */
    /*}*/
/*home page - badge*/ 
    .block_c793ade975204fe0b3d46817edc0d36e {
        position: relative;
    }
    .fullBleed .noSecondaryContent .primaryAndSecondaryContent .block_d104b30ce7924523bea5129047c3866f {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        margin: 0 auto;
        max-width: 1400px;
        width: 92%;
    }
.block_d104b30ce7924523bea5129047c3866f .blockText {
        width: 300px;
        height: 300px;
        background-image: url(../../static.spacecrafted.com/feb44cde71d742879f8ff9ccb092acf9/i/cb0b0fdd20944e21bcd5557245cbfeb6/1/5feFb8zhrk/background.png);
        background-size: contain;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        right: 50px;
        bottom: 50px;
        padding: 50px;
    }
/*reservations*/ 
    .resWrap {
        max-width: 850px;
        margin: auto;
    }
    .resColumnOne, .resColumnTwo {
        width: 50%;
        float: left;
    }
    .resColumnTwo {
        text-align: center;
        text-align: -webkit-center;
    }
    .ot-dtp-picker {
        float: right;
    }
}

/* GROUP DINING PAGE */
@media only screen and (min-width: 768px) {
    .blockWrap_ed8ab6f3ae6f4cffb6d865df43f83cae, 
    .blockWrap_f3a11057896645c394891a21f33954e1 {
        display: inline-block;
    }
    .blockContainer.blockWrap_ed8ab6f3ae6f4cffb6d865df43f83cae {
        width: 53%;
    }
    .blockContainer.blockWrap_f3a11057896645c394891a21f33954e1 {
        width: 47%;
        float: right;
    }
    .resColumnThree {
        text-align: right;
        text-align: -webkit-right;
    }
}
@media only screen and (max-width: 468px) {
    .resColumnTwo ul li:nth-child(2) {
        text-align: center;
    }
}
.resColumnTwo ul li:nth-child(1) {
    height: 100px;
    padding-bottom: 2em;
}
.resColumnThree ul li:nth-child(1) {
    max-width: 423px;
    text-align: center;
}