.sldOut {
    position: relative;
}
.sldOut:after {
    content: '';
    display: block;
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    margin: auto;
    background: #00253c;
    height: 1px;
    width: 60px;
}
.sldOut:before {
    content: '';
    display: block;
    position: absolute;
    top: 51%;
    left: 0;
    right: 0;
    margin: auto;
    background: #f4eee6;
    height: 1px;
    width: 60px;
    z-index: 1;
}

#page_bd6bad6ed6c241a78b2b574d2cfc93ea .footerContainer {
    padding-top: 40px;
}
/*backyard*/
.itemTabs li {
    display: inline-block;
    max-width: 25%;
    text-align: center;
}
.itemTabs li a {
    text-transform: uppercase;
    letter-spacing: .1em;
}
.itemTabs li img {
    max-width: 100%;
    border-radius: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.blockWrap_Qj5u7cPOUS9SeBZz {
    display: none;
}
.blockWrap_x5bs1y44MQg6xjJ0 .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle {
    font-size: 24px;
    font-weight: 300;
}
.blockWrap_x5bs1y44MQg6xjJ0 .imgEffect-content p {
    line-height: 1.6;
}






.cols4.imgMgn0 .imgGridItem.colSpan3 {
    width: 100%;
}
div.blockWrap_d7a8ab1835e5484caaa8f1fa6ff452bf {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.block_ca56919367a14ef68a083ccd8fe6ca52 {
    text-align: center;
    margin-top: 1.5em;
}
/*--------------- GLOBAL ----------------*/
/*******
 FONTS
*******/
.navContainer, .navContent li .button, button, .button, input[type=submit], .footerContainer, .footerContent p {
font-family: azo-sans-web, sans-serif;
font-style: normal;
font-weight: 400;
}
/*html, body, p*/
html, body, p, ul,
.contentTitle, .contentTitle a  {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 300;
}
.blockInnerContent b, .itemInnerContent b, .blockInnerContent strong, .itemInnerContent strong {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 700;
}
.blockInnerContent i, .blockInnerContent em {
    font-family: azo-sans-web, sans-serif;
    font-style: italic;
    font-weight: 300;
}
/*captions*/
.imgHover .imgHover-overlay .imgHover-content .contentTitle, 
.imgEffect .imgEffect-overlay .imgEffect-content .contentTitle {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
}
#page_f1858dd99b2d46acac17c52d35bd0f87 .blockContent .blockText .contentTitle:after {
    display: none;
}
#page_f1858dd99b2d46acac17c52d35bd0f87 .blockContent:not(.block_d306d92bef2e44c8b6c2399b3a3cfe7f) .blockText p strong:after {
    content: '';
    border-bottom: 1px solid;
    width: 80px;
    display: block;
    margin: 0 auto;
    padding-top: 1.6em;
}
/*******
 BUTTONS
*******/
.navContent li .button {
    padding: .75em 2em;
}
.ctaButton {
    padding: .75em 2em;
}
.button, .footerContent button, .imgEffect-content .button, .navContent li .button, .footerContent button, .footerContent a.button {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s 2s ease-out;
    transition: all .25s ease-out;
}
.button:hover, .footerContent button:hover, .imgEffect-content .button:hover {
    color: #f9f8f5 !important;
    background: #02263c;
    border-color: #02263c;
}
.navContent li .button:hover, .footerContent button:hover, .footerContent a.button:hover {
    color: #02263c !important;
    background: #f9f8f5;
    border-color: #02263c;
}
/*link hover*/
.navContent ul li ul a.selected,
.navContent ul li ul li a,
.navContent ul li a, .navContent ul li .navLabel,
a, a:link,
.footerSocialIcons li a {
    transition: color .2s ease-in-out;
}
.navContent ul li ul a.selected:hover,
.navContent ul li ul li a:hover,
.navContent ul li a:hover, .navContent ul li .navLabel:hover,
a:hover, a:link:hover,
.footerSocialIcons li a:hover {
    color: #92624B;
}
/*flex control positioning on top of image*/ 
.blockContent .imageGallery {
    position: relative;
} 
.flex-control-nav li a {
    width: 11px;
    height: 11px;
    background: transparent;
    border: solid 1px #02263c;
}
.flex-control-nav li {
    margin: 0 0 0 12px;
}
.flex-control-nav li a.flex-active {
    background: #02263c;
}
.hasSlideshow .blockImg .flex-control-nav {
    display: block;
}
/*background on gallery arrows with cream background on page*/
.block_a36d789f508445f9a1d65091c46d4ad8 .galleryArrow--prev,
.block_a36d789f508445f9a1d65091c46d4ad8 .galleryArrow--next {
    background-color: #02263c;
    height: 50px;
    width: 50px;
    top: 50%;
}
/*--------------- FOOTER ----------------*/
.footerContent button, .footerContent a.button {
    color: #f9f8f5;
    background: #02263c;
}

.footerContent .blockWrap_e51d70429bbf4cd787ec153a710b85b5,
.footerContent .blockWrap_ce60f01e18114168aaf992dbe6dbe7e4,
.footerContent .blockWrap_d639b37eb9124f0c83e461329989c1c4,
.footerContent .blockWrap_f3a21eb0947546d18485235367bc3fe4{
    padding: 0 !important;
}
/*.footerLogos li {*/
/*    display: inline-block;*/
/*}*/
/*.footerLogos li img {*/
/*    max-height: 12px;*/
/*    margin-right: 1em;*/
/*}*/
.footerContent .blockContainer {
    padding: .75em 0 0 0;
}
/*--------------- INQUIRE ----------------*/
.radioB input {
    width: auto !important;
    margin: 0 10px;
    height: 10px;
}
.radioStyles,
.radioStyles {
    padding: 10px 0;
}
.radioStyles input:after {
    content: '';
    border: 1px solid;
    width: 12px;
    height: 12px;
    display: inline-block;
    background: #ebe1d8;
    margin-left: -1px;
}
.radioStyles input:checked:after {
    background: #00253C;
}
.f-item.f-select.radioStyles:before {
    display: none;
}
.columnOne, .columnTwo {
    width: 100%;
}
.f-item .radioText {
    display: block;
    font-size: 14px;
}

.radioB li {
    font-size: 14px;
    display: inline-block;
}
.block_ca56919367a14ef68a083ccd8fe6ca52 .iconGroup a {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #ebe1d8 !important;
}
/*--------------- HOME ----------------*/
.block_f027637573d34c5db94d10b6304308dd.fixedHeightGallery .slides > li {
    height: calc(80vh - 0px);
}
div.blockWrap_d0f8cc91c2ab41d8b9ed3883b25b469b {
    margin-left: 5px;
    margin-right: 5px;
}
/*hero image*/
/*.block_f027637573d34c5db94d10b6304308dd .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle {*/
/*    font-size: 24px;*/
/*    font-weight: 300;*/
/*    padding-bottom: .4em;*/
/*}*/
/*.blockWrap_f027637573d34c5db94d10b6304308dd .imgEffect-content {*/
/*    background: #00263c;*/
/*    background: rgba(0,38,60,.9);*/
/*}*/
/*.blockWrap_f027637573d34c5db94d10b6304308dd .imgEffect-content .contentTitle, */
/*.blockWrap_f027637573d34c5db94d10b6304308dd .imgEffect-content p {*/
/*    max-width: 700px;*/
/*    margin: auto;*/
    /*line-height: 1.6;*/
/*}*/
/*.blockWrap_f027637573d34c5db94d10b6304308dd .imgEffect-content {*/
/*    padding: 40px 48px 60px 48px;*/
/*}*/
/*.blockWrap_f027637573d34c5db94d10b6304308dd .imgEffect-content:after {*/
/*    display: block;*/
/*    content: '';*/
/*    background-image: url(https://static.spacecrafted.com/dfb4c1cd75bb4339932a270098450d73/i/cbcb939a0ea1449dbf767f7792e5058c/1/5feFb8zhrk/arrowDown.png);*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    width: 20px;*/
/*    height: 11px;*/
/*    margin: auto;*/
/*    bottom: 28px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/
/*image gallery caption overlay*/
/*background color*/ 
.blockWrap_fb21c52779be4434aeb30c325673a027 .imgEffect-content {
    background: black;
    background: rgba(0,0,0,.55);
    max-width: 660px;
    padding: 38px;

}
/*larger titles*/
.blockWrap_fb21c52779be4434aeb30c325673a027 .fs-item .imgEffect-content:before {
    display: inline-block;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: .05em;
    max-width: 450px;
    line-height: 1.1;
}
/*center 2nd image with overlay*/
.blockWrap_da53b682b64d40d088d9f3e5aabb3cbe .imgGridItem:nth-child(3) .imgEffect-content,
.blockWrap_d5bde3a3ca724448aba70b90c6248d16 .imgGridItem:nth-child(4) .imgEffect-content,
.blockWrap_e04b65e97f734696aa9f3d7092715d0b .imgGridItem:nth-child(1) .imgEffect-content,
.blockWrap_b9be94d3753840ca86614849ab0f04c0 .imgGridItem:nth-child(2) .imgEffect-content{
    background: transparent;
}
.blockWrap_da53b682b64d40d088d9f3e5aabb3cbe .imgEffect-content .button,
.blockWrap_d5bde3a3ca724448aba70b90c6248d16 .imgEffect-content .button,
.blockWrap_ad25570c508844caa8b4b159d00d4ae0 .imgEffect-content .button,
.blockWrap_e04b65e97f734696aa9f3d7092715d0b .imgEffect-content .button,
.blockWrap_b9be94d3753840ca86614849ab0f04c0 .imgEffect-content .button {
    color: #f9f8f5;
    border-color: #f9f8f5; 
}
.blockWrap_da53b682b64d40d088d9f3e5aabb3cbe .imgHover .imgHover-overlay .imgHover-content p, 
.blockWrap_da53b682b64d40d088d9f3e5aabb3cbe .imgEffect .imgEffect-overlay .imgEffect-content p,
.blockWrap_d5bde3a3ca724448aba70b90c6248d16 .imgHover .imgHover-overlay .imgHover-content p, 
.blockWrap_d5bde3a3ca724448aba70b90c6248d16 .imgEffect .imgEffect-overlay .imgEffect-content p,
.blockWrap_ad25570c508844caa8b4b159d00d4ae0 .imgHover .imgHover-overlay .imgHover-content p, 
.blockWrap_ad25570c508844caa8b4b159d00d4ae0 .imgEffect .imgEffect-overlay .imgEffect-content p,
.blockWrap_e04b65e97f734696aa9f3d7092715d0b .imgHover .imgHover-overlay .imgHover-content p, 
.blockWrap_e04b65e97f734696aa9f3d7092715d0b .imgEffect .imgEffect-overlay .imgEffect-content p,
.blockWrap_b9be94d3753840ca86614849ab0f04c0 .imgHover .imgHover-overlay .imgHover-content p, 
.blockWrap_b9be94d3753840ca86614849ab0f04c0 .imgEffect .imgEffect-overlay .imgEffect-content p{
    margin-top: 1.5em;
    text-align: center;
}
.blockWrap_da53b682b64d40d088d9f3e5aabb3cbe .imgGridItem .imgEffect-content,
.blockWrap_d5bde3a3ca724448aba70b90c6248d16 .imgGridItem .imgEffect-content,
.blockWrap_e04b65e97f734696aa9f3d7092715d0b .imgGridItem .imgEffect-content,
.blockWrap_bb63f880b6124b699df345cbe601134f .imgGridItem .imgEffect-content,
.blockWrap_kulHBEtNXIoHLWZY .imgGridItem .imgEffect-content,
.blockWrap_e1a81d01d08444fc81c2cbf10564fb31 .imgGridItem .imgEffect-content,
.blockWrap_x5bs1y44MQg6xjJ0 .imgGridItem .imgEffect-content,
.blockWrap_qhxkEiCszwihYbCM .imgGridItem .imgEffect-content,
.blockWrap_b9be94d3753840ca86614849ab0f04c0 .imgGridItem .imgEffect-content {
    top: auto;
    bottom: 0;
    -ms-transform: translateY(0);
    transform: translateY(0);
    background: -moz-linear-gradient(top, rgba(74,45,33,0) 0%, rgba(74,45,33,0.65) 99%, rgba(74,45,33,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(74,45,33,0) 0%,rgba(74,45,33,0.65) 99%,rgba(74,45,33,0.65) 100%);
    background: linear-gradient(to bottom, rgba(74,45,33,0) 0%,rgba(74,45,33,0.65) 99%,rgba(74,45,33,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004a2d21', endColorstr='#a64a2d21',GradientType=0 );
}
    .blockWrap_da53b682b64d40d088d9f3e5aabb3cbe .imgGridItem:nth-child(3) .imgEffect-content,
    .blockWrap_d5bde3a3ca724448aba70b90c6248d16 .imgGridItem:nth-child(4) .imgEffect-content,
    .blockWrap_e04b65e97f734696aa9f3d7092715d0b .imgGridItem:nth-child(1) .imgEffect-content,
    .blockWrap_b9be94d3753840ca86614849ab0f04c0 .imgGridItem:nth-child(2) .imgEffect-content /*new test*/ {
        max-width: 330px;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 10px;
        text-align: center;
        top: 60%;
        -webkit-transform: translateY(-60%);
        -ms-transform: translateY(-60%);
        transform: translateY(-60%);
    }
/*video*/
.videoText {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.videoText a {
    color: #f9f8f5;
    font-size: 15px;
}
.videoText a:hover {
    color: #f9f8f5 !important;
}
.blockWrap_b981542dacb74e8ba85365fc014839b0 {
    position: relative;
}
/*--------------- RESIDENCES ----------------*/
.block_d4611837840846e4a8a7a0a23d36b64f .blockInnerContent li {
    display: inline-block;
    margin: 10px;
}
.block_d4611837840846e4a8a7a0a23d36b64f .blockInnerContent .button {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s 2s ease-out;
    transition: all .25s ease-out;
}
.block_d4611837840846e4a8a7a0a23d36b64f .blockInnerContent li .button {
    color: #f9f8f5;
    border-color: #f9f8f5;
}
.block_d4611837840846e4a8a7a0a23d36b64f .blockInnerContent li .button:hover {
    color: #02263c !important;
    background: #f9f8f5;
    border-color: none;
}
/*--------------- VIEWS ----------------*/
.panoViews {
    display: none;
}
.panoViews {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
}
.mobileButton {
    display: none;
}
/*button*/
.block_df746552c61e44dd8b057eecdf353b31 .button {
    background: #02263c;
    color: #ebe1d8;
}
.buttonWrap,
.blockWrap_df746552c61e44dd8b057eecdf353b31 {
    position: relative;
    height: 100vh;
}
.buttonClick {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*--------------- AMENITIES ----------------*/
.items_c9665959a9654bbdb69f7a3b48df650e .item .itemContent p {
    padding-bottom: .75em;
}
.expandLnk img {
    height: 17px;
    width: 17px;
    padding-left: .5em;
    padding-right: .5em;
    vertical-align: text-bottom;
    -webkit-transition-duration: .45s;
    -moz-transition-duration: .45s;
    -o-transition-duration: .45s;
    transition-duration: .45s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.activeLnk .expandLnk img {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.blockWrap_d574cd73114846d08f8182a84f91e373 .itemsCollectionContent .item .itemInnerContent,
.blockWrap_a6b8f297cb614d358922442d9ae8c2ee .itemsCollectionContent .item .itemInnerContent,
.blockWrap_c095bd3961ed4a3eb00a641f69d35e36 .itemsCollectionContent .item .itemInnerContent {
    display: none;
}
.items_d574cd73114846d08f8182a84f91e373.cols2 .item,
.items_a6b8f297cb614d358922442d9ae8c2ee.cols2 .item,
.items_c095bd3961ed4a3eb00a641f69d35e36.cols2 .item {
    margin: 2% 0 0 2%;
}
.items_d574cd73114846d08f8182a84f91e373 .item .contentTitle,
.items_a6b8f297cb614d358922442d9ae8c2ee .item .contentTitle,
.items_c095bd3961ed4a3eb00a641f69d35e36 .item .contentTitle {
    border-bottom: 1px solid #e0e3e2;
    padding-bottom: 4%;
}
.items_d574cd73114846d08f8182a84f91e373 .item .itemInnerContent,
.items_a6b8f297cb614d358922442d9ae8c2ee .item .itemInnerContent,
.items_c095bd3961ed4a3eb00a641f69d35e36 .item .itemInnerContent {
    padding-top: 1em;
}
/*--------------- BACKYARD ----------------*/
.mapContainer .blockInnerContent {
  position: relative;
}
#map {
  width: 100%;
  height: 625px;
}
/*categories styles*/
.categoriesContainer {
    position: absolute;
    bottom: 0;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
}
#categories {
    background: #02263c;
    padding: 30px 25px;
    color: #f9f8f5;
}
.categories-title strong {
    color: #f9f8f5;
}
.categories-title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .214em;
    margin-bottom: 20px;
}
.categories-name {
    font-size: 14px;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: .15em;
}
.categories-name:hover {
    text-decoration: underline;
}
#categories li.active {
    opacity: .55;
    text-decoration: underline;
}
#categories li {
    opacity: 1;
  -webkit-transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
  cursor: pointer;
}
#categories li:hover {
    opacity: .55;
}
/*marker pop-up*/
.mapContainer .blockInnerContent h1 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
}
/*hide items list*/
/*.blockWrap_bccd317d441c41be8443739c70542a52,*/
.blockWrap_bbdbf9c35ef0493a958ebe8a71162187 {
    display: none;
}
/***********
App Tour
***********/
/*hide tab image below tabs*/
/*.block_Qj5u7cPOUS9SeBZz {*/
/*    display: none !important;*/
/*}*/
/* Icons */
/*.itemTabsContainer {*/
/*    padding-top: 40px;*/
/*    padding-bottom: 40px;*/
/*    background: #02263c;*/
/*}*/
/*.itemTabsContainer .itemTabs li {*/
/*    flex-grow: 1;*/
/*    flex-basis: 25%;*/
/*}*/
/*.itemTabs {*/
/*    text-align: center;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.itemTabs li .icon {*/
/*    opacity: 1;*/
/*    max-width: 160px;*/
/*    border-radius: 50%;*/
/*}*/
/*.itemTabs li.current .icon {*/
/*    opacity: 1;*/
/*    -webkit-filter: grayscale(0%);*/
/*    filter: grayscale(0%);*/
/*}*/
/*.itemTabs li.current .title {*/
/*    color: #50cfe6;*/
/*    text-decoration: underline;*/
/*}*/
/* hover states */
/*.itemTabs li:hover .icon {*/
/*     opacity: 1;*/
/*     -ms-transition: opacity .35s ease-out; */
/*    -webkit-transition: opacity .35s ease-out; */
/*    -o-transition: opacity .35s ease-out; */
/*    -moz-transition: opacity .35s ease-out; */
/*    transition: opacity .35s ease-out;*/
/*}*/
/*.itemTabs li .title {*/
/*    color: #f9f8f5;*/
/*    display: block;*/
/*    letter-spacing: .1em;*/
/*    text-transform: uppercase;*/
/*    margin-top: .5em;*/
/*}*/
/*--------------- FLOOR PLANS ----------------*/
#floor-plans table,
#floor-plans th,
#floor-plans td {
    border: none;
    text-align: center;
}
#floor-plans {
  overflow: scroll;
}
#floor-plans .module-content {
  max-width: 1180px;
  margin: auto;
}
#floor-plans .module-content .selector table {
  width: 95%;
  max-width: 600px;
  max-height: 550px;
  margin: auto;
  text-align: center;
  overflow: scroll;
  color:#00253C;
}
#floor-plans .module-content .selector table thead,
#floor-plans .module-content .selector table th {
  font-family: 'sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1.2px;
}
#floor-plans .module-content .selector table thead th {
  padding: 15px 0;
  border-bottom: 1px solid #00253c;
}
#floor-plans .module-content .selector table tbody {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
}
#floor-plans .module-content .selector table tbody tr {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* to override sitewide <a> styles*/
#floor-plans .module-content .selector table tbody td a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#floor-plans .module-content .selector table tbody tr.active,
#floor-plans .module-content .selector table tbody tr:hover {
  background: #00253c;
  color: #f4eee6;
}
#floor-plans .module-content .selector table tbody tr:hover a {
  color: #f4eee6;
}
#floor-plans .module-content .selector table tbody tr td {
  padding: 15px 0;
  border-bottom: 1px solid #00253c;
  font-size: 14px;
}
#floor-plans .module-content .floor-plans .floor-plan {
  display: none;
  text-align: center;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
}
#floor-plans .module-content .floor-plans .floor-plan h1 {
  color:#00253C;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  /*font-size: 1.4em;*/
  /*letter-spacing: 6px;*/
  font-size: 2em;
  letter-spacing: 1px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  font-weight: 100;
}
#floor-plans .module-content .floor-plans .floor-plan p {
  font-size: 14px;
  text-transform: uppercase;
  color:#00253C;
}
#floor-plans .module-content .left {
  width: 40%;
  float: left;
  height: 550px;
  display: inline-block;
  overflow-y: scroll;
}
#floor-plans .module-content .right{
  width: 60%;
  float: left;
  height: 550px;
  display: inline-block;
  overflow-y: scroll;
}
#floor-plans .floorplan-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 550px;
  width: 100%;
  display: none;
}
#floor-plans .floorplan-image.initial {
  display: block;
}
@media (max-width: 1024px) {    
    .floorPlanImage {
        width:100%;
    }
    .floor-plans {
        border-top: none!important;
        padding: 60px 0!important;
    }
}

.floorPlanImage {
    width:100%;
}

#mobiSelect,.mobile_floor_plans_select_container {
    position: relative
}

.floor_plans_container {
    display: -webkit-flex;
    display: -ms-flexbox
}

.floor_plans_container {
    height: 100vh;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0px 0 35px;
    text-align: center
}

@media all and (max-width: 1024px) {
    .floor_plans_container {
        padding:40px 0;
        height: auto
    }
}

div#floor-plans {
    /*width: 80%;*/
    width: 100%;
    max-width: 1200px
}

.floor_plans_container .half {
    width: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 0 30px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}



@media all and (max-width: 1024px) {
    .floor_plans_container .half {
        width:100%
    }
}

.desktop_floor_plans {
    display: block
}

@media all and (max-width: 768px) {
    .desktop_floor_plans {
        display:none
    }
}

.floor_plans_top {
    overflow: auto
}

.download_pdf a {
    z-index: 999
}

#floor-plans .module-content .selector table {
    width: 95%;
    max-width: 600px
}

#floor-plans .module-content .selector table thead {
    display: block;
    overflow: auto
}

#floor-plans table tbody {
    height: 400px;
    display: block;
    overflow-y: auto
}

#floor-plans table tbody::-webkit-scrollbar {
    width: 5px
}

#floor-plans table tbody::-webkit-scrollbar-track {
    background: rgba(255,255,255,.2)
}

#floor-plans table tbody::-webkit-scrollbar-thumb {
    background: #00253C
}

#floor-plans tr {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

#floor-plans td,#floor-plans th {
    width: 20%
}

.mobile_floor_plans {
    display: none
}

@media all and (max-width: 768px) {
    .mobile_floor_plans {
        display:block
    }
}

#mobiSelect {
    background: 0 0;
    border-radius: 0;
    line-height: 20px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

#mobiSelect::-webkit-input-placeholder {
    color: #00253C;
    font-size: 14px
}

.mobile_floor_plans_select_container:after {
    content: "";
    position: absolute;
    right: 10px;
    background-size: cover;
    top: 16px;
    background-image: url(../img/icons/arrow-dropdown.html);
    height: 9px;
    width: 18px
}

#floor-plans .module-content .mobile_floor_plans .floor-plan.filter-item:first-child {
    display: block
}

html.lightbox_open {
    overflow: hidden
}

.floor-plans-lightbox {
    position: fixed;
    background: rgba(0,37,60,.8);
    left: 0;
    bottom: 100%;
    z-index: -99;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0;
    transition: opacity .5s ease-in-out,z-index 0s 1s;
    overflow-y: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.floor-plans-lightbox.visible {
    opacity: 1;
    z-index: 990;
    bottom: 0;
    transition: opacity .5s ease-in-out;
    overflow-y: scroll
}

.lightbox_invisible_layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: 0 0
}

.floor-plans-lightbox .floor-plan {
    background: #f9f8f5;
    padding: 20px;
    width: 95%;
    max-height: 95%;
    position: relative;
    overflow-y: auto
}

.floor-plans-lightbox .floor-plan::-webkit-scrollbar {
    width: 5px
}

.floor-plans-lightbox .floor-plan::-webkit-scrollbar-track {
    background: rgba(255,255,255,.2)
}

.floor-plans-lightbox .floor-plan::-webkit-scrollbar-thumb {
    background: #00253C
}

.floor-plan.filter-item h1 {
    margin-bottom: 15px!important
}

.floor-plan.filter-item p {
    margin-bottom: 5px
}

.floor-plans-lightbox .floorPlanImage {
    width: 35%
}

.lightbox_close {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    overflow: hidden;
    cursor: pointer
}

.lightbox_close:hover::after,.lightbox_close:hover::before {
    background: #00253C
}

.lightbox_close::after,.lightbox_close::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #00253C;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.border_line:after,.gfield_radio label:after,.ginput_container_select:after {
    content: ""
}

.lightbox_close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.lightbox_close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

/*--------------- INQUIRE ----------------*/
.alignLeft {
    text-align: left;
}
.expandForm {
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-bottom: 1em;
    text-align: left;

}
.expandForm p {
    font-size: 14px;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.f-hasExpandForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.customForm .contentTitle {
    padding-bottom: 0;
    color: #ebe1d8;
}
.customForm .blockText {
    text-align: center;
}
.moreInfo.contentTitle {
    padding-bottom: 1em;
    font-size: 13px;
    width: 100%;
    text-align: left;
}
/*new inquire form updates*/ 
.f-item.twoColumn {
    width: 49%;
}
.f-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /*width: 500px;*/
}
.f-item {
    width: 100%;
}
.f-hidden, .f-formHidden {
    display: none;
    width: 100%; /*new*/
}
.f-item label {
    display: none;
}
.f-item input,
.f-item select,
.f-item textarea {
    width: 100%;
    border: 1px solid #ebe1d8;;
    background: transparent;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ebe1d8;
}
.f-item input::-webkit-input-placeholder,
.f-item textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ebe1d8;
  font-size: 14px;
}
.f-item input::-moz-placeholder,
.f-item textarea::-moz-placeholder { /* Firefox 19+ */
  color: #ebe1d8;
  font-size: 14px;
}
.f-item input:-ms-input-placeholder,
.f-item textarea:-ms-input-placeholder { /* IE 10+ */
  color: #ebe1d8;
  font-size: 14px;
}
.f-item input:-moz-placeholder,
.f-item textarea:-moz-placeholder { /* Firefox 18- */
  color: #ebe1d8;
  font-size: 14px;
}
.f-item select {
    -webkit-appearance: none;
    border-radius: 0px;
}
.f-select {
    position: relative;
}
.f-select:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    right: 15px;
    top: 17px;
    border-top: 5px solid #ebe1d8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.f-item button {
    background-color: transparent;
    color: #f4eee6;
    border-color: #ebe1d8;
    padding: 20px 55px;
    text-transform: uppercase;
    transition: all .3s ease;
}
.f-item button:hover {
    color: #02263c;
    background-color: #f4eee6;
}
/*--------------- MEDIA QUERIES ----------------*/
@media only screen and (max-width: 667px) {
    .mobileButton {
        display: block;
        list-style-type: none;
    }
    .mobileButton a {
        text-align: center;
        width: 91%;
        margin-left: 4%;
        margin-right: 4%;
    }
    .moreInfo.contentTitle {
        padding-bottom: .25em;
    }
    .expandForm {
        padding-bottom: .25em;
    }
}

@media only screen and (max-width: 727px) {
/*HOME PAGE CAPTIONS*/
    .blockWrap_fb21c52779be4434aeb30c325673a027 .imgEffect-content {
        padding: 20px;
    }
    .blockWrap_fb21c52779be4434aeb30c325673a027 .fs-item .imgEffect-content:before {
        font-size: 30px;
    }
    .blockWrap_fb21c52779be4434aeb30c325673a027 .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle {
        font-size: 16px;
    }
    .blockWrap_fb21c52779be4434aeb30c325673a027 .imgEffect .imgEffect-overlay .imgEffect-content p {
        font-size: 14px;
    }
    .blockWrap_fb21c52779be4434aeb30c325673a027 .imgEffect .imgEffect-overlay .imgEffect-content p:after {
        width: 15px;
        height: 15px;
    }
    .moveDown {
        display: none !important;
    }
}
@media only screen and (max-width: 767px) {
.desktopPano {
        display: none;
    }
    .panoViews {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        height: auto;
        bottom: 10%;
        width: 80%;
        margin: auto;
    }    
/*HOME - gallery */
.blockWrap_f027637573d34c5db94d10b6304308dd .imgEffect-content {
    display: none;
}
.block_f027637573d34c5db94d10b6304308dd .flexMain .slides > li {
    background-position: 90% 100%;
}
    .block_da53b682b64d40d088d9f3e5aabb3cbe .imgGridItem,
    .block_e04b65e97f734696aa9f3d7092715d0b .imgGridItem,
    .block_d5bde3a3ca724448aba70b90c6248d16 .imgGridItem,
    .block_ad25570c508844caa8b4b159d00d4ae0 .imgGridItem,
    .block_b9be94d3753840ca86614849ab0f04c0 .imgGridItem,
    .block_bb63f880b6124b699df345cbe601134f .imgGridItem, /*backyard*/
    .block_x5bs1y44MQg6xjJ0 .imgGridItem, /*backyard categories*/ 
    .block_kulHBEtNXIoHLWZY .imgGridItem /*backyard categories details*/  {
        width: 100% !important;
        float: none ! important;
        /*postition: relative !important;*/
    }
    .blockWrap_da53b682b64d40d088d9f3e5aabb3cbe .imgGridItem .imgEffect-content, 
    .blockWrap_d5bde3a3ca724448aba70b90c6248d16 .imgGridItem .imgEffect-content,
    .blockWrap_bb63f880b6124b699df345cbe601134f .imgGridItem .imgEffect-content, /*backyard*/ 
    .blockWrap_x5bs1y44MQg6xjJ0 .imgGridItem .imgEffect-content, /*backyard categories*/
    .blockWrap_kulHBEtNXIoHLWZY .imgGridItem .imgEffect-content /*backyard categories details*/ {
        display: block;
    }
    .blockContentBleed.layoutC .blockText {
        padding-bottom: 1.5em;
    }
/*MAP - categories styles*/
    .categoriesContainer {
        position: relative;
        max-width: 100%;
    }
    #map {
      height: 400px;
    }
    /*backyard*/
    .blockWrap_x5bs1y44MQg6xjJ0 .imgEffect-overlay {
        height: 350px !important;
    }
    .itemTabs li img {
        padding: 10px;
    }
    .itemTabs li a {
        font-size: 13px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .blockWrap_da53b682b64d40d088d9f3e5aabb3cbe .imgGridItem:nth-child(3) .imgEffect-content .contentTitle,
    .blockWrap_d5bde3a3ca724448aba70b90c6248d16 .imgGridItem:nth-child(4) .imgEffect-content .contentTitle,
    .blockWrap_e04b65e97f734696aa9f3d7092715d0b .imgGridItem:nth-child(1) .imgEffect-content .contentTitle {
        display: none;
    }
}
@media only screen and (max-width: 1199px) {
    .blockWrap_da53b682b64d40d088d9f3e5aabb3cbe .imgEffect-content .button,
    .blockWrap_d5bde3a3ca724448aba70b90c6248d16 .imgEffect-content .button,
    .blockWrap_e04b65e97f734696aa9f3d7092715d0b .imgEffect-content .button {
        font-size: 10px;
    }
    .blockWrap_x5bs1y44MQg6xjJ0 .imgEffect-overlay {
        position: relative;
        height: 200px;
        overflow: visible;
    }
    .blockWrap_x5bs1y44MQg6xjJ0 .imgEffect-content {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
/*header / primary container adjustments*/ 
    .fullBleed .primaryAndSecondaryContainer {
        width: 76%;
    }
    .headerAndNavContainer {
        width: 24%;
    }
}
@media only screen and (min-width: 768px) {
/*.navContent > ul > li:first-child {*/
/*    margin-bottom: 3em;*/
/*}*/
/*.navContent > ul > li:nth-child(2) {*/
/*    border: none;*/
/*}*/
.mobilePano {
    display: none;
}
.blockWrap_d77c0016a5a742bfbcd75fcadb9083c0 {
    margin-bottom: 3em;
}
/*50/50 image blocks*/
.blockContentBleed.layoutC:not(.block_Qj5u7cPOUS9SeBZz) .blockImg, 
.blockContentBleed.layoutD:not(.block_Qj5u7cPOUS9SeBZz) .blockImg,
.blockContentBleed.layoutC:not(.block_Qj5u7cPOUS9SeBZz) .blockText, 
.blockContentBleed.layoutD:not(.block_Qj5u7cPOUS9SeBZz) .blockText {
    width: 50%;
}
/*image on left*/ 
.blockContentBleed.layoutC .blockText {
    padding-left: 48px;
}
.blockContent.layoutC--vAlign1 .blockText {
    margin-left: 0;
}
/*image on right*/ 
.blockContentBleed.layoutD .blockText {
    padding-right: 48px;
}
.blockContent.layoutD--vAlign1 .blockText {
    margin-right: 0;
}
    
/*AMENITIES*/
/*adjust caption width*/ 
    .blockWrap_bdcf682b03bf480cb74bc15c57a464e2 .imgEffect-content {
        max-width: 500px;
        right: 0;
    }
/*INQUERIES*/
    /*.blockWrap_d7a8ab1835e5484caaa8f1fa6ff452bf,*/
    /*.blockWrap_e7c31205c34c4ecd8332492ca9b17526 {*/
    /*    width: 47%;*/
    /*    float: left;*/
    /*}*/
    .columnOne, .columnTwo {
        width: 48%;
    }
}
@media only screen and (min-width: 1025px) {
    .flex-control-nav {
        bottom: 48px;
        z-index: 2;
        text-align: left;
        left: 48px;
        width: auto;
    }
}
@media only screen and (min-width: 1200px) {
/*header / primary container adjustments*/ 
    .fullBleed .primaryAndSecondaryContainer {
        padding-left: 250px;
    }
    .headerAndNavContainer {
        max-width: 250px;
    }
    .blockWrap_da53b682b64d40d088d9f3e5aabb3cbe .imgGridItem:nth-child(3) .imgEffect-content,
    .blockWrap_d5bde3a3ca724448aba70b90c6248d16 .imgGridItem:nth-child(4) .imgEffect-content,
    .blockWrap_e04b65e97f734696aa9f3d7092715d0b .imgGridItem:nth-child(1) .imgEffect-content,
    .blockWrap_b9be94d3753840ca86614849ab0f04c0 .imgGridItem:nth-child(2) .imgEffect-content /*new test*/ {
        font-size: 12px;
        /*bottom: 30%;*/
    }
/*backyard*/
    .block_x5bs1y44MQg6xjJ0 .contentImg  img {
        width: 50%;
        float: right;
    }
    .blockWrap_x5bs1y44MQg6xjJ0 .imgEffect-overlay {
        float: left;
        width: 50%;
    }
    .blockWrap_x5bs1y44MQg6xjJ0 .imgEffect-content {
        max-width: 450px;
        margin: auto;
        left: 0;
        right: 0;
    }
    .blockWrap_x5bs1y44MQg6xjJ0 .hasSlideshow .blockImg .flex-control-nav {
        margin-left: 2%;
    }
}