.socialContent .contentImg.imgShape {
 -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.fullDetailsContainer.blockWrap_e4af1aa5df03486ab5aced17179a28ed.collapsibleFaqs {
 padding-bottom: 40px!important;   
}

/*.blockInnerContent b, .itemInnerContent b, .blockInnerContent strong, .itemInnerContent strong {*/
/*    padding: 8px;*/
/*}*/

.items_dab71a61da45475db1074fbbdaa1c839 .item:first-child {
 border:none!important;   
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••BEGINNING OF SECONDARY NAV PHONE NUMBER••••••••••*/
.ctaNav {
    background: #f7f6f5;
    color: #999999;
    padding: 10px 0;
    /*padding-top: 15px;*/
    width: 100%;
    display: table;
    box-sizing: border-box;
    font-family: museosanslight,Arial,Verdana,sans-serif;
    text-transform:uppercase;
}
/*content width*/ 
.ctaNav .blockContent {
    margin: 0 auto;
    max-width: 1200px; /*edit based on layout width, 100% if Stretch header & navigation to window edges is selected*/
    
}
.ctaNav .blockInnerContent {
    padding-right: 48px;
    padding-left: 48px;
    text-align:right;
}
/*link font color*/
.ctaNav a {
    color: #999999;
}
@media only screen and (max-width: 768px) {
    .ctaNav .blockInnerContent {
       text-align: center!important; 
    }
    .ctaNav li {
        list-style-type: none;
        font-size: 13px;
        display: inline-block;
        padding: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .ctaNav li {
        display: inline-block;
        margin-right: 2.5em;
        font-size: 14px;
    }
    .ctaNav li:last-child{
     margin-right:0;   
    }
}
/*------ old code */

.imgHover .imgHover-overlay .imgHover-content .contentTitle, 
.imgEffect .imgEffect-overlay .imgEffect-content .contentTitle {
    text-transform: uppercase;
    letter-spacing: .03em;
}
.ctaButton {
    padding: .5em 3em;
}
/*--------------- FOOTER ---------------*/
/*sitemap*/
/*first block 100% for sitemap list*/
.footerContent .blockWrap_c1aea17bbbf34d3d8158ac396761a4be {
    width: 100%;
    margin-bottom: 1.5em;
}
.block_c1aea17bbbf34d3d8158ac396761a4be li:last-child {
    margin-right: 0;
}
/*--------------- HEADER ALERT  ---------------*/
.bannerAlert {
    padding: 15px 48px;
    background: #b42b33;
}
.bannerAlert .blockContent {
    text-align: center;
}
.bannerAlert .contentTitle {
    font-size: 16px;
    color: white;
}
.bannerAlert .blockText, 
.bannerAlert .blockText a {
    color: white;
    font-size: 14px;
}
/*.headerAndNavContainer {*/
/*    border-bottom: 1px solid #eee;*/
/*}*/
/*--------------- HOME  ---------------*/
.blockWrap_d8e92fd9798046548b1d7613c19b5b5e .imgEffect-content {
    max-width: 900px;
    margin: auto;
    left: 0;
    right: 0;
}
.blockWrap_d8e92fd9798046548b1d7613c19b5b5e .button {
    color: white;
    border-color: white;
    background: transparent;
}
 /*--------------- MEDIA QUERIES  ---------------*/
@media only screen and (max-width: 767px) {
/*HOME PAGE HERO FONT SIZE*/
    .block_d8e92fd9798046548b1d7613c19b5b5e .imgHover .imgHover-overlay .imgHover-content .contentTitle, 
    .block_d8e92fd9798046548b1d7613c19b5b5e .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle { 
        font-size: 24px;
    }
    .items_bfc42ee21c804d9ea74d95dc2f093601.listView .itemPreview.hasImg .itemImg {
        width: 100%;
    }
    .items_bfc42ee21c804d9ea74d95dc2f093601.listView .itemPreview.hasImg .itemContent {
        width: 100%;
        padding-top: 1.5em;
    }
/*HOME PAGE GRID FULL WIDTH*/
    .block_e2d7381570804aa4b96c791dc8821026 .imgGridItem {
        width: 100% !important;
        margin: 8px 0 !important;
    }
}


@media only screen and (min-width: 768px) {
/*footer sitemap nav*/
    .footerContent .blockWrap_c1aea17bbbf34d3d8158ac396761a4be {
        width: 100%;
        padding-top: 60px;
    }
    .block_c1aea17bbbf34d3d8158ac396761a4be li {
        display: inline-block;
        margin-right: 2em;
        /*font-family: proximanovabold,Arial,Verdana,sans-serif;*/
        /*font-style: normal;*/
        /*font-weight: 700;*/
        font-size: 16px;
    }
    .block_c1aea17bbbf34d3d8158ac396761a4be li:first-child {
        margin-left: 2em;
    }
    .block_c1aea17bbbf34d3d8158ac396761a4be li:last-child {
        margin-right: 2em;
    }
    .block_c1aea17bbbf34d3d8158ac396761a4be ul {
        position: relative;
        overflow: hidden;
    }
    .block_c1aea17bbbf34d3d8158ac396761a4be ul:before, .block_c1aea17bbbf34d3d8158ac396761a4be ul:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 50%;
        height: 1px;
        content: '';
        background-color: black;
    }
    .block_c1aea17bbbf34d3d8158ac396761a4be ul:before {
        margin-left: -50%;
        text-align: right;
    }
}
/*@media only screen and (min-width: 1400px) {*/
/*    .navContainer {*/
/*        padding-right: 0;*/
/*    }*/
    
/*    .headerContainer {*/
/*        padding-left: 0;*/
/*    }*/
/*}*/
/*yext embed code starts here*/
#yext-widget-252595.yext-reviews, .yext-widget-popup-252595.yext-reviews {
    font-family: caslon,"Times New Roman",Times,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0a0a0a;
}
#yext-widget-252595.yext-reviews .yext-star-fill, .yext-widget-popup-252595.yext-reviews .yext-star-fill {
    fill: #f3c622;
}
#yext-widget-252595.yext-reviews .review-header .leaveReview a {
    color: #3090C7;
    opacity: 1;
}
/*yext embed code ends here*/