/*--------------- GLOBAL ---------------*/
/*****
FONTS
*****/
html, body,
button, .button, input[type=submit],
.blockWrap_fcdc4ce3c01b4b83b2fc31318b135b1b .contentTitle {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.navContainer,
.contentTitle, .contentTitle a {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
}
.blockInnerContent b, .blockInnerContent strong {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .03em;
    font-size: 85%;
}
/*serif font*/ 
.blockWrap_d8e29ec5a1ca4c20931e9cff958db3fc .blockInnerContent,
.items_a41d8ef07fc242108032c67b7f244716 .item .contentTitle,
.items_a41d8ef07fc242108032c67b7f244716 .item .contentTitle a {
    font-family: adobegaramondpro,"Times New Roman",Times,serif;
    font-style: normal;
    font-weight: 400;
}
.imgHover .imgHover-overlay .imgHover-content .contentTitle, .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle {
    line-height: 1.2;
}
.imgEffect-content--showDesc p {
    line-height: 1.5;
}
/*BUTTONS*/
.ctaButton,
button, .button, input[type=submit] {
    padding: .7em 1.75em;
}
.flex-control-nav li a.flex-active {
    background: #aec0ca;
}
.flex-control-nav li a {
    width: 12px;
    height: 12px;
    border: solid 2px #aec0ca;
}
/*--------------- HOME ---------------*/
/*hero gallery*/
.block_dd27a7fdbca04f86922964179207d3c0 .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle + p {
    margin-top: 50px;
}
.blockWrap_dd27a7fdbca04f86922964179207d3c0.bmg6 {
    margin-bottom: 5em;
}
.block_dd27a7fdbca04f86922964179207d3c0 .flex-direction-nav {
    display: none;
}

/*services section*/
.items_a41d8ef07fc242108032c67b7f244716 .item:nth-child(1):before {
    content: 'Services';
    display: block;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1.7em;
    font-size: 15px;
    letter-spacing: .1em;
    color: #010101;
}
.items_a41d8ef07fc242108032c67b7f244716 .item:nth-child(2) {
    border: 1px solid #004d7a;
    padding: 100px 25px 100px 25px;
}
/*exec block*/
.blockWrap_af923503da74478d9d3ae466d7f5833c .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle {
    font-size: 30px;
}  
.blockWrap_c5ae66c457cd424a8bc198fe1c5fa219 .plxBg-img {
    background-position: 120% 80% !important;
    background-size: 45%;
    background-repeat: no-repeat;
}
.block_c5ae66c457cd424a8bc198fe1c5fa219 .blockInnerContent strong:after,
.block_e9d26f774a3b4567b75e062708a4a98b .blockInnerContent strong:after {
    content: '';
    background-image: url(../../static.spacecrafted.com/e80cb814c4fb49bcae0732cc96db81c7/i/bae92a1c81ee40789a820aae0fbf158e/1/5feFb8zhrk/letsTalkIcon_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
    margin-bottom: 2px;
    transform: rotate(90deg);
}
.blockWrap_c5ae66c457cd424a8bc198fe1c5fa219,
.blockWrap_e9d26f774a3b4567b75e062708a4a98b {
    height: 70vh;
}
.blockWrap_af923503da74478d9d3ae466d7f5833c .flexslider .slides > li:nth-child(1) .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle:before {
    content: 'Managing Partner';
    display: block;
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.blockWrap_af923503da74478d9d3ae466d7f5833c .flexslider .slides > li:nth-child(2) .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle:before {
    content: 'Managing Partner';
    display: block;
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.blockWrap_af923503da74478d9d3ae466d7f5833c .flexslider .slides > li:nth-child(3) .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle:before {
    content: 'Investment Partners';
    display: block;
    font-size: 15px;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.blockWrap_d8e29ec5a1ca4c20931e9cff958db3fc .contentTitle:before {
    content: 'Offering';
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1.7em;
    font-size: 15px;
    letter-spacing: .1em;
    color: #010101;
}
    
.blockWrap_d8e29ec5a1ca4c20931e9cff958db3fc {
    position: relative;
}
.blockWrap_d8e29ec5a1ca4c20931e9cff958db3fc:before {
    content: '';
    background-image: url(../../static.spacecrafted.com/e80cb814c4fb49bcae0732cc96db81c7/i/e7832085e6b94f01a2f63144aebe9b12/1/5feFb8zhrk/topCornerRight1.png);
    position: absolute;
    display: block;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 445px;
    height: 500px;
    text-shadow: 0 0 black;
    top: 0;
    z-index: -1;
}
.block_d8e29ec5a1ca4c20931e9cff958db3fc.layoutB.hasImg .blockImg {
    padding-top: 2.5em;
    padding-bottom: 0;
}
/*services tour*/
.items_fbd76c022a4144969a7ead6fb02fb3a3 .prevTab,
.items_fbd76c022a4144969a7ead6fb02fb3a3 .nextTab {
    display: none;
}
.items_fbd76c022a4144969a7ead6fb02fb3a3 .item .itemImg,
.itemTabs .title {
    display: none;
}
.itemTabs li {
    display: inline-block;
    margin-right: 1em;
}
.itemTabs li img {
    max-width: 40px;
}

.items_fbd76c022a4144969a7ead6fb02fb3a3 .itemsCollectionContent > * {
    display: none;
}
.items_fbd76c022a4144969a7ead6fb02fb3a3:after {
    content: '';
    background-image: url(../../static.spacecrafted.com/e80cb814c4fb49bcae0732cc96db81c7/i/fd3fb1bdb4604d85b9d01b21269a3d63/1/5feFb8zhrk/borderBottomHor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2px;
    width: 60px;
}
/*projects gallery*/
.block_f421bb949ffd4dc1b59cd5b82c0eb99a .flex-viewport {
    overflow: visible !important;
}
.js .block_f421bb949ffd4dc1b59cd5b82c0eb99a .flexslider .slides > li:nth-child(even) {
    margin-top: 60px;
}
.blockWrap_f421bb949ffd4dc1b59cd5b82c0eb99a .imgHover .imgHover-overlay .imgHover-content .contentTitle {
    font-size: 40px;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
}
.blockWrap_f421bb949ffd4dc1b59cd5b82c0eb99a .imgHover .imgHover-overlay .imgHover-content .contentTitle + p {
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 1em;
}
/*hawthorne*/
.blockWrap_e31ba3fa16b443619d173bbe365af73a .imgEffect-content,
.blockWrap_ce3cd40e42184d18a2ecfc64a32b4c29 .imgEffect-content,
.blockWrap_a6eafb67cc7f40319e60d34ccadfbbf3 .imgEffect-content {
    padding: 56px 20px 20px 56px;
}
.blockWrap_e31ba3fa16b443619d173bbe365af73a .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle,
.blockWrap_ce3cd40e42184d18a2ecfc64a32b4c29 .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle,
.blockWrap_a6eafb67cc7f40319e60d34ccadfbbf3 .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle {
    text-transform: none;
    font-size: 32px;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.blockWrap_e31ba3fa16b443619d173bbe365af73a {
    position: relative;
}
.blockWrap_f5489ee7ca144d2891c45fbd63502a8e {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.items_f5489ee7ca144d2891c45fbd63502a8e .itemInnerContent li {
    display: inline-block;
}
.items_f5489ee7ca144d2891c45fbd63502a8e .itemInnerContent li:first-child {
    margin-right: 1em;
}
.blockWrap_cce5dfda10d54c85952e5609fa0b6b53 .plxBg-img {
    /*background-position: 120% 80% !important;*/
    background-size: 40%;
    background-repeat: no-repeat;
}
.blockWrap_e9d26f774a3b4567b75e062708a4a98b .plxBg-img {
    background-position: -120px 60% !important; 
    background-size: 40%;
    background-repeat: no-repeat;
}


.items_aaf4363a9ce24fcd810ed2083bb7d31b .itemInnerContent {
    font-family: adobegaramondpro,"Times New Roman",Times,serif;
    font-style: normal;
    font-weight: 400;
}
/*--------------- PROJECTS ---------------*/
/*HIDE TITLE*/
.blockWrap_aKsi3r3mS80AFCju {
    display: none;
}
.items_zu5D1IFoivdHji2U .item:nth-child(1) .contentTitle,
.items_zu5D1IFoivdHji2U .item:nth-child(1) .contentTitle a {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
}
.items_zu5D1IFoivdHji2U .item:nth-child(1) .itemInnerContent {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 15px;
    padding-bottom: 30px;
}
.items_zu5D1IFoivdHji2U .item:nth-child(2) {
    font-family: adobegaramondpro,"Times New Roman",Times,serif;
    font-style: normal;
    font-weight: 400;
}
.items_zu5D1IFoivdHji2U .item:nth-child(1):after {
    content: '';
    display: block;
    background-image: url(../../static.spacecrafted.com/e80cb814c4fb49bcae0732cc96db81c7/i/c366f86b8b024dcc933d13a6b60303a0/1/5feFb8zhrk/blueboroder.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2px;
    width: 60px;
}
@media only screen and (max-width: 767px) {
    .navContent li a, .navContent li .navLabel {
        font-size: 15px;
    }
    .headerContent h1.logo {
        margin-left: 0;
    }
    .headerContent {
        padding-left: 0;
    }
    .headerContainer {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    /*home hero*/
    .blockWrap_dd27a7fdbca04f86922964179207d3c0 .imgEffect-content {
        padding: 20px;
    }
    /*services*/
    div.blockWrap_a41d8ef07fc242108032c67b7f244716 {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    /*active projects*/
    div.blockWrap_fcdc4ce3c01b4b83b2fc31318b135b1b {
        padding-top: 50px;
    }
    div.blockWrap_f421bb949ffd4dc1b59cd5b82c0eb99a {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    div.blockWrap_d8e29ec5a1ca4c20931e9cff958db3fc {
        padding-top: 100px;
    }
    div.blockWrap_fbd76c022a4144969a7ead6fb02fb3a3 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    div.blockWrap_aaf4363a9ce24fcd810ed2083bb7d31b {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media only screen and (max-width: 1023px) {
    /*ushering in*/
    .blockWrap_d8e29ec5a1ca4c20931e9cff958db3fc .contentTitle {
        font-size: 40px;
    }
    /*offerings*/
    .items_fbd76c022a4144969a7ead6fb02fb3a3 .item .contentTitle {
        font-size: 40px;
    }
    /*exec bios*/
    div.blockWrap_af923503da74478d9d3ae466d7f5833c {
        padding-bottom: 25px;
        background: white;
    }
    .blockWrap_af923503da74478d9d3ae466d7f5833c .blockImg {
        background: #004d7a;
    }
    .blockWrap_af923503da74478d9d3ae466d7f5833c .imgEffect-content {
        font-size: 14px;
    }
    /*build with vision*/
    .items_aaf4363a9ce24fcd810ed2083bb7d31b .item .contentTitle {
        font-size: 62px;
    }
    /*projects pages*/
    .items_zu5D1IFoivdHji2U .item .contentTitle {
        font-size: 40px;
    }
}
@media only screen and (min-width: 768px) {
/*anchor nav*/
    .navContainer {
        position: fixed;
        right: 0;
        left: 115px;
        padding-right: 4%;
        padding-left: 4%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .navContent li {
        display: inline-block;
        margin-right: 2.75em;
    }
    .navContent li:last-child {
        margin-right: 0;
    }
    .navContent {
        text-align: right;
    }
 /*left navigation*/  
    .headerAndNavContainer {
        max-width: 115px;
        position: fixed;
        z-index: 999;
        left: 0;
        height: 100vh;
        background: white !important;
    }
    .fullBleed .primaryAndSecondaryContainer {
        margin-left: 115px;
    }
    .headerAndNavContainer:before {
        content: '';
        display: block;
        background-color: black;
        height: 80px;
        width: 2px;
        position: absolute;
        top: 42%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .headerAndNavContainer:after {
        content: '';
        display: block;
        background-image: url(../../static.spacecrafted.com/e80cb814c4fb49bcae0732cc96db81c7/i/b29af4fc57d74375bdfeffbcc9a4b29d/1/5feFb8zhrk/bbcVert.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 16px;
        height: 140px;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .blockWrap_dd27a7fdbca04f86922964179207d3c0 .imgEffect-content {
        /*font-size: 52px;*/
        max-width: 500px;
        left: 4%;
        right: 4%;
        margin: auto;
    }
    /*services*/
    .items_a41d8ef07fc242108032c67b7f244716.cols2 .item {
        width: 92%;
    }
    .block_af923503da74478d9d3ae466d7f5833c .contentImg img {
        width: 45%;
        float: right;
    }
    .blockWrap_af923503da74478d9d3ae466d7f5833c .imgEffect-content {
        float: left;
        width: 55%;
        right: 55%;
        max-width: 500px;
        margin: auto;
        left: 0;
    }
/*projects*/
    .items_zu5D1IFoivdHji2U.cols3 .item:nth-child(1) {
        width: 40%;
    }
    .items_zu5D1IFoivdHji2U.cols3 .item:nth-child(3) {
        width: 20%;
    }
    .items_zu5D1IFoivdHji2U .item:nth-child(3) .itemInnerContent {
        text-align: right;
    }
}
@media only screen and (min-width: 1024px) {
    .blockWrap_dd27a7fdbca04f86922964179207d3c0 .imgEffect-content {
        font-size: 52px;
        max-width: 800px;
    }
    .items_a41d8ef07fc242108032c67b7f244716.cols2 .item:nth-child(1) {
        width: 38%;
    }
    .items_a41d8ef07fc242108032c67b7f244716.cols2 .item:nth-child(2) {
        width: 58%;
    }
        /*exec bios*/
    .blockWrap_af923503da74478d9d3ae466d7f5833c .imgEffect .imgEffect-overlay .imgEffect-content .contentTitle {
        font-size: 50px;
    } 
}