.custom-form fieldset{
    border:none
}
.custom-form ul{
    list-style:none
}
.custom-form ul li input[type=text],.custom-form ul li textarea{
    display:block;
    width:100%!important;
    min-height:30px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:1px solid #ccc;
    background-color:#fff;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius:3px;
    margin-bottom:10px
}
.custom-form ul li label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
}
.custom-form ul li input[type=text]{
    min-height:30px
}
.custom-form ul li textarea{
    min-height:75px
}
.custom-form ul li input[type=text]:active,.custom-form ul li input[type=text]:focus,.custom-form ul li textarea:active,.custom-form ul li textarea:focus{
    border-color:#999;
    box-shadow:none
}
.custom-form ul li input[type=submit]{
    display:inline-block;
    position:relative;
    cursor:pointer;
    outline:none;
    white-space:nowrap;
    margin:5px;
    padding:0 22px;
    font-size:14px;
    height:40px;
    line-height:40px;
    background-color:#1ABC9C;
    color:#FFF;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:1px;
    border:none;
    text-shadow:1px 1px 1px rgba(0,0,0,0.2)
}
.custom-form ul li select{
    color:#666;
    font-size:12px;
    min-height:30px
}
#gotoTop{
    display:none;
    z-index:299;
    position:fixed;
    width:40px;
    height:40px;
    background-color:#333;
    background-color:rgba(0,0,0,0.3);
    font-size:20px;
    line-height:36px;
    text-align:center;
    color:#FFF;
    top:auto;
    left:auto;
    right:30px;
    bottom:50px;
    cursor:pointer;
    border-radius:2px
}
 .mobileaction {
    display:none;
}
.blogdefault {margin-top:50px;margin-bottom:30px;}
.blogdefault #posts {
    position: relative;
}
.blogdefault .postcontent .post-timeline {
    padding-left: 100px;
    margin-right: 0 !important;
}
.blogdefault .postcontent .timeline-border {
    left: 32px;
    margin-left: 0;
}
.blogdefault .timeline-border {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -71px;
    width: 0;
    border-left: 1px dashed #CCC;
    height: 100%;
}

.blogdefault .postcontent .post-timeline .entry {
    width: 100% !important;
    margin-right: 140px !important;
}
.entry {
    position: relative;
    margin: 0 0 50px;
        margin-right: 0px;
    padding: 0 0 50px;
    border-bottom: 2px solid #F5F5F5;
}
.postcontent .post-timeline { background-image: none!important;  }
.postcontent .post-timeline .entry-timeline {
    display: block!important;
    border: 3px solid #CCC!important;
    background-color: #FFF;
    padding-top: 10px;
    text-indent: 0;
    top: 20px;
    left: -100px;
    right: auto;
    width: 64px;
    height: 64px;
    font-size: 24px;
}
.post-timeline .entry-timeline {
    position: absolute!important;
    border: 2px solid #CCC;
    background-color: #FFF;
    padding-top: 0;
    text-indent: -9999px;
    top: 40px;
    left: auto;
    right: -76px;
    width: 13px;
    height: 13px;
    border-radius: 50%!important;
    font-size: 26px;
    font-weight: 700!important;
    color: #AAA!important;
    text-align: center!important;
    line-height: 1!important;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out!important;
}
.post-timeline .entry-timeline span {
    display: block;
    margin-top: 3px;
    font-size: 13px;
    font-weight: 400;
}
.postcontent .post-timeline .entry-timeline div.timeline-divider {
    top: 29px;
    left: 64px;
    width: 32px;
}
.post-timeline .entry-timeline div.timeline-divider {
    position: absolute;
    top: 4px;
    left: -58px;
    width: 50px;
    height: 0;
    border-top: 1px dashed #CCC;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.entry-image, .entry-image > a, .entry-image .slide a, .entry-image img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
.entry-image {
    margin-bottom: 30px;
}
.entry-title h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.entry-meta {
    margin: 10px -10px -15px 0;
    list-style: none;
}
.entry-meta li {
    float: left;
    font-size: 13px;
    line-height: 14px;
    margin: 0 10px 15px 0;
    color: #999;
    font-family: 'Crete Round',serif;
    font-style: italic;
}
#posts .entry-content {
    margin-top: 30px;
}
.entry-content {
    position: relative;
}
.postcontent {
    margin-right: 40px;
  display: block;
position: relative;
  float: left;
}
.postcontent {
    width: 70%;
}

.blogdefault .sidebar.col_last {
    float: right;
  margin-right: 0 !important;
  width: 25%;
clear: right;
}
 @media screen and (max-width: 991px) {
     .mobileaction {
         padding:15px 0 0 0;
         text-align:center;
         display: block;
    }
}