.scMap {
    padding-top: 30.25%;
}
.items_f357b669a0a24c878c882812d31a1b5e {
 position: relative;   
}

.items_f357b669a0a24c878c882812d31a1b5e .item:not(:first-child) .itemImg:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -18px;
    margin: auto;
    bottom: 0;
    width: 25px;
    height: 25px;
    background-image: url(../../static.spacecrafted.com/e1a0cc37233e4d4ea17b00afbe0d667f/i/a4fa96f90d884dbe916a98800f095473/1/5feFb8zhrk/iconmonstr-arrow-58-48.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.items_f357b669a0a24c878c882812d31a1b5e .item {
    position: relative;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••CUSTOM VIDEO TEXT••••••••••*/
 .videoText {
        margin:auto;
        text-align: center;
        background-color: #f7f7f7;
        padding-top: 30px;
        padding-bottom: 40px;
        border-bottom: 1px solid #ccc;
    }
    .videoText .contentTitle{
     font-size: 27px;
    }

.ctaButton2 {
 border: 2px solid white;
 padding: 15px;
background-color: rgb(207,164,45);
}


/*MAP Responsiveness */

.map-responsive{
    overflow:hidden;
    /*padding-bottom:56.25%;*/
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    display: block;
	pointer-events: none;
}

.map-responsive .clicked{
	pointer-events: auto;
}

.ctaButton {
font-weight:bold;
}

.block_e71c5ef103af43fc86369ad7759f8a50 {
    /*top: 1906px;*/
    /*right: 2%;*/
    margin:auto;
    font-size: 17px;
    font-weight:bold;
    /*border-top: 1px solid #ebebeb;*/
    /*border-right: 1px solid #ebebeb;*/
    /*border-left: 1px solid #ebebeb;*/
    /*border-bottom: 1px solid #ebebeb;*/
    max-width: 150px;
    /*position: absolute;*/
    background: white;
    padding: 13px; 
}
.blockWrap_e71c5ef103af43fc86369ad7759f8a50 {
 overflow:hidden;   
}
/*---------------UNIVERSAL DESKTOP MEDIA QUERIES ---------------*/
@media only screen and (max-width: 1024px) {
/*image on left NEED TO ADD BLOCK IDS*/
     .blockContentBleed.layoutC .blockText,
    .blockContentBleed.layoutD .blockText {   
        padding-bottom: 40px;
    }
}


/*••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• MIN WIDTHS ••••••••••*/
/*---------------UNIVERSAL DESKTOP MEDIA QUERIES ---------------*/
@media only screen and (min-width: 1024px) {
        /*global*/
    .blockContentBleed.layoutC .blockImg,
    .blockContentBleed.layoutD .blockImg {
        width: 50%;
    }
    .blockContentBleed.layoutC .blockText,
    .blockContentBleed.layoutD .blockText {
        width: 40%;   
        padding-bottom: 30px;
        margin:auto;
    }
    .block_e71c5ef103af43fc86369ad7759f8a50 {
    top: 1605px;
    right: 1%;
    z-index: 1;
    font-size: 17px;
    font-weight:bold;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    max-width:150px;
    position: absolute;
    background:white; padding: 20px;   
}
}


/*---------------MIN WIDTHS MOBILE DEVICE ONLY MEDIA QUERIES ---------------*/

@media only screen and (min-width: 768px) {

.homeVideo {
        position: relative;
    }
    
    .videoBg:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        background-color: rgba(0,0,0,0.25);
        z-index: 1;
    }
    .videoText {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
        text-align: center;
         background-color: transparent;
         border-bottom: none;
    }
    .videoText .contentTitle{
     color:white;
     font-size: 50px;
     max-width: 1200px;
     margin:auto;
    }    
.ctaButton2 {
 border: 2px solid white;
 padding: 15px;
background-color: rgba(0,0,0,0.20);
}
.ctaButton2:hover {
 border: 2px solid white;
 padding: 15px;
background-color: rgba(207,164,45,0.80);
}
}