.fullBleed .noSecondaryContent .primaryAndSecondaryContent .customMap {
    position: relative;
    height: 650px;
    width: 100%;
    box-sizing: border-box;
    max-width: 92%;
    margin: 0 auto;

}
/*position map on block*/
#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

/*--------------- GLOBAL ---------------*/
/*bold text*/ 
.blockInnerContent b, .itemInnerContent b, .blockInnerContent strong, .itemInnerContent strong {
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: inherit;
}
/*buttons*/
.ctaButton {
    padding: .75em 2em;
}
.button:hover,
.navContent li .button:hover,
.footerContent .emailCapture button:hover,
.items_a949c3b37ebe452db753b3fc0d55ac92 .item .itemInnerContent li:last-child .button:hover {
    background: #9DB4AC;
    -webkit-transition: background 0.25s ease-in-out;
    -moz-transition: background 0.25s ease-in-out;
    -o-transition: background 0.25s ease-in-out;
    transition: background 0.25s ease-in-out;
}
.itemContent {
    margin-right: 24px;
    margin-left: 24px;
}
/*--------------- HEADER / NAV  ---------------*/
.navContent li .button {
    padding: .75em 1em;
}
/*--------------- FOOTER ---------------*/
.textWrap {
    max-width: 590px;
    margin: auto;
    padding-bottom: 1.5em;
}
.textWrap .contentTitle {
    font-size: 20px !important;
}
.textWrap p {
    font-size: 14px;
    padding-top: 1.5em;
}
.footerLogo img {
    max-width: 50px;
}
.footerContent .contentTitle {
    font-size: 135%;
}
.footerContent .scForm input[type=text] {
    background: transparent;
    border: 2px solid #E7DFDB;
    padding: .75em .5em;
    width: 100%;
    max-width: 250px;
}
.footerContent .emailCapture button {
    margin-right: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: .75em 2em;
    background: transparent;
    border: 2px solid #E7DFDB;
    width: 100%;
    max-width: 250px;
}
.block_b58e407705b343bf9b37ac01d1db2ff4 li {
    font-size: 16px;
}
.footerContent .footerLogo {
    padding-bottom: 80px;
}
/*--------------- HOME ---------------*/
.blockWrap_b5b3f09b063348cdbfd2e3eda0db344f .imgEffect-content {
    max-width: 700px;
    margin: auto;
    left: 0;
    right: 0;
}
.blockWrap_b2f0fcf17afa4a95a0c13de9376b1b0b .imgEffect-content p {
    text-transform: uppercase;
    letter-spacing: .1em;
}
/*--------------- ACCOMMODATIONS ---------------*/
/*hidden items list*/
.blockWrap_a3cccd09dde24e4fb58167ff48bf1a9e {
    display: none;
}
.block_GPp3YN4V1FdAJu6o .reserveThis {
    margin-top: 30px;
}
.block_a949c3b37ebe452db753b3fc0d55ac92 .imgEffect-content p {
    text-transform: uppercase;
    letter-spacing: .1em;
}
.items_a949c3b37ebe452db753b3fc0d55ac92 .item .itemInnerContent li {
    display: inline-block;
}
.items_a949c3b37ebe452db753b3fc0d55ac92 .item .itemInnerContent li:first-child {
    margin-right: 1em;
}
.items_a949c3b37ebe452db753b3fc0d55ac92 .item .itemInnerContent li:last-child .button {
    background: white;
    border: 2px solid #2c302c;
    color: #2c302c;
}
.items_a949c3b37ebe452db753b3fc0d55ac92 .item .itemInnerContent li:last-child .button:hover {
    color: white;
    border-color: #9DB4AC;
}
/*--------------- ACTIVITIES ---------------*/
.blockWrap_d504c4eaa67b458ca45e532d4c6166f4 .imgEffect-content p {
    text-transform: uppercase;
    letter-spacing: .1em;
}
/*--------------- FAQ ---------------*/
.block_kunSV2Oci1sZQHWH .blockText {
    border-bottom: 1px solid;
    padding-bottom: 20px;
}
/*--------------- MEDIA QUERIES ---------------*/
@media only screen and (max-width: 767px) {
    .headerAndNavContainer {
        background: #2c302c;
    }
    .videoText .contentTitle {
        font-size: 32px;
    }
    .videoText {
        padding-top: 40px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .videoText .contentTitle {
        font-size: 47px;
    }
}
@media only screen and (min-width: 768px) {
/*logo block 100%*/
    .footerContent .blockWrap_db4d40aca5c242e7a9a0174ed15e3a52 {
        width: 100%;
        margin-right: 0;
    }
/*social icons 3 column grid*/
    .footerContent .blockContainer:nth-child(3n+1) {
        clear: none;
        padding: 0;
    }
/*sitemap 100%*/
    .footerContent .blockWrap_b58e407705b343bf9b37ac01d1db2ff4 {
        width: 100%;
        margin-right: 0;
    }
    .block_b58e407705b343bf9b37ac01d1db2ff4 li {
        display: inline-block;
        margin-right: 2.5em;
    }
    .block_b58e407705b343bf9b37ac01d1db2ff4 li:last-child {
        margin-right: 0;
    }
/*home video*/
    .videoBlock {
        position: relative;
    }
    
    .videoBg:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1d2f;
        background-color: rgba(28,29,47,0.35);
        z-index: 1;
    }
    .videoText {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;
    }
    .videoText .contentTitle {
        color: white;
    }
.items_cae3c649fde14720b8c6238342232504 .item:last-child {
    -webkit-column-gap: 2.25em;
    -moz-column-gap: 2.25em;
    column-gap: 2.25em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
}
@media only screen and (min-width: 1024px) {
    .videoText .contentTitle {
        font-size: 57px;
    }
}
